---
import Header from '../components/Header.astro'
import Perfil from '../components/Perfil.astro'
import Habilidades from '../components/Habilidades.astro'
import Proyectos from '../components/Proyectos.astro'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Portafolio - Jhonathan Rojas</title>
  </head>
  <body style="margin: 0; font-family: sans-serif; background-color: #0d0d0d; color: white;">
    <Header />
	<Perfil />
	<Habilidades />
     <Proyectos />
  </body>
</html>
